<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="none"/>
    {% block head %}{% endblock %}
    <title>Impftermine Stadecken-Elsheim</title>
</head>
<body>
<div class="container-fluid" style="-webkit-print-color-adjust: exact;">
    <div class="row">
        <div class="col-12">
            <h1>Impftermine Impfaktion Stadecken-Elsheim</h1>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Impfung</th>
            <th scope="col">Alter</th>
            <th scope="col">Bestätigt?</th>
        </tr>
        </thead>
        <tbody>
        {% for slot in timeslots %}
            <tr class="table-primary">
                <th colspan="100%">
                    {{ slot.start_time | time }}
                </th>
            </tr>
            {% for reservation in slot.bookings%}
                <tr {% if not reservation.ack_at %}class="table-secondary"{% endif %}>
                    <td>{{ reservation.name }}</td>
                    <td>{{ reservation.email }}</td>
                    <td>{{ reservation.vaccination }}</td>
                    <td>{{ reservation.age }}</td>
                    <td>{{ "Ja" if reservation.ack_at else "Nein" }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <div class="row" style="font-weight: normal; text-align: center">
        <hr>
        <p style="font-weight: normal">Built by Felix Kreßmann - v1.6</p>
    </div>
</div>
</body>
</html>