{% extends "base.html" %}

{% block title %}Impftermin Admin{% endblock %}

{% block content %}
    <h4>Admin</h4>
    <p>Hier sind alle Buchungen gelistet. In die Anzahl belegter Plätze gehen nur bestätigte Buchungen ein.</p>
    <p>Alle bestätigen Buchungen können <a href="{{ url_for("admin.print_bookings") }}">HIER</a> ausgedruckt werden</p>
    <p><strong><span style="color:#cdcd00;">Achtung Petra</span>, man sieht jetzt in der Kapazitätsanzeige in grau die noch nicht bestätigten Buchungen. Nur zur Orientierung wo wie viel los ist. In der Druckansicht sieht man jetzt auch die nicht bestätigten Buchungen, damit es am Samstag keine Fragen gibt.</strong></p>
    <div class="accordion" id="accordionExample">
        {% for slot in timeslots %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ slot.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ slot.id }}" aria-expanded="true" aria-controls="collapse{{ slot.id }}">
                        <strong>{{ slot.start_time | time }}</strong>
                    </button>
                    {% set occupied = slot.get_occupied_capacity() %}
                    {% set non_ack = slot.get_non_ack_capacity() %}
                    <div class="progress">
                        <div class="progress-bar {% if occupied > slot.capacity %}bg-danger{% endif %}" role="progressbar" style="width: {{ occupied / slot.capacity * 100 }}%">{{ occupied }}/{{ slot.capacity }}</div>
                        {% if occupied < slot.capacity %}<div class="progress-bar bg-secondary" role="progressbar" style="width: {{ non_ack / slot.capacity * 100 }}%">{{ non_ack }}</div>{% endif %}
                    </div>
                </h2>
                <div id="collapse{{ slot.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ slot.id }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Impfung</th>
                                    <th scope="col">Alter</th>
                                    <th scope="col">Löschen / Bestätigen</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reservation in slot.bookings if reservation.ack_at %}
                                    <tr>
                                        <td>{{ reservation.name }}</td>
                                        <td>
                                            {% if reservation.email %}
                                                <a href="mailto:{{ reservation.email }}">{{ reservation.email }}</a>
                                            {% else %}
                                                {{ "<keine>" }}
                                            {% endif %}
                                        </td>
                                        <td>{{ reservation.vaccination }}</td>
                                        <td>{{ reservation.age }}</td>
                                        <td>
                                            <a type="button" href="{{ url_for("web.delete", id=reservation.id) }}" class="btn btn-close"></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for reservation in slot.bookings if reservation.ack_at is none %}
                                    <tr class="table-secondary">
                                        <td>{{ reservation.name }}</td>
                                        <td>
                                            {% if reservation.email %}
                                                <a href="mailto:{{ reservation.email }}">{{ reservation.email }}</a>
                                            {% else %}
                                                {{ "<keine>" }}
                                            {% endif %}
                                        </td>
                                        <td>{{ reservation.vaccination }}</td>
                                        <td>{{ reservation.age }}</td>
                                        <td>
                                            <a type="button" href="{{ url_for("web.confirm", id=reservation.id) }}" class="btn btn-outline-success">Bestätigen</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="mt-4">
        <div class="row">
            <h4>Admin Buchung</h4>
            <p>Hier eingetragene Buchungen werden direkt als 'bestätigt' gespeichert. Zum Beipiel für Mitbürger, die
               telefonisch reservieren oder keine Email Adresse besitzen (in diesem Fall die Adresse einfach nicht
               ändern</p>
        </div>
        <form action="{{ url_for('admin.create') }}" method="post">
            <div class="row mb-3">
                <div class="form-group">
                    <label for="name" class="form-label">Vor- und Nachname:</label>
                    <input type="text" class="form-control" id="name" placeholder="Namen eingeben" name="name" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <label for="email" class="form-label">E-Mail Adresse:</label>
                    <input type="email" class="form-control" id="email" placeholder="E-Mail Adresse oder leer lassen" name="email">
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <label for="timeslot" class="form-label">Termin:</label>
                    <select class="form-select" name="timeslot" id="timeslot" required>
                        <option selected disabled>Termin auswählen</option>
                        {% for slot in timeslots %}
                            <option value="{{ slot.id }}">{{ slot.start_time | time }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <label for="vaccination" class="form-label">Gewünsche Impfung:</label>
                    <select class="form-select" name="vaccination" id="vaccination" required>
                        <option selected disabled value="">Auswählen...</option>
                        <option value="1">Erstimpfung</option>
                        <option value="2">Abschlussimpfung / Zweite Impfung</option>
                        <option value="3">Booster Impfung (frühstens 5 Monate nach Zweitimpfung)</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <label for="age" class="form-label">Alter:</label>
                    <select class="form-select" name="age" id="age" required>
                        <option selected disabled value="">Auswählen...</option>
                        <option value="<30">Zwischen 12 und 29 Jahre</option>
                        <option value=">=30">30 Jahre oder älter</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}