{% extends "base.html" %}

{% block title %}Datenschutz{% endblock %}

{% block content %}
    <div class="row">
    <h4>Datenschutz</h4>
    <p>Grundsätzlich gilt die <a href="https://stadecken-elsheim.de/footer/datenschutzerklaerung/">Datenschutzerklärung von stadecken-elsheim.de</a> auch für dieses Portal.</p>
    <p>Auf impfung.stadecken-elsheim.de werden allerdings nur die von Ihnen eingebenen Daten verarbeitet und gespeichert. Ein Tracking findet nicht statt, ebenfalls werden keine Cookies verwendet.</p>
    <p>Die hier erhobenen personenbezogenen Daten werden ausschließlich zur Planung und Druchführung der Impfaktion in Stadecken-Elsheim am 08.01.2022 von der Gemeindeverwaltung Stadecken-Elsheim genutzt und danach mit einer Frist von 5 Tagen gelöscht.</p>
    </div>
{% endblock %}