<p>Diese Datenschutzerklärung erläutert, welche deiner personenbezogenen Daten zu welchen Zwecken die Boehringer
    Ingelheim GmbH („wir“ oder „Boehringer Ingelheim“) verwendet, speichert und offenlegt (zusammen
    "verarbeitet"). In jedem Fall erfolgt die Verarbeitung im Rahmen der gesetzlichen Datenschutzbestimmungen (u.a. der
    EU DatenschutzGrundverordnung, „DSGVO“).</p>

<h3>Zwecke der Datenverarbeitung und Rechtsgrundlage</h3>
<h4>Registrierung und Kommunikation</h4>
<p>Wir verarbeiten deine Daten, um dir die Nutzung der Challenge möglich zu machen und die Gewinner zu ermitteln.
    Hierfür speichern wir nur deine Email Adresse und die Aktivitäten, die du einträgst. Die Rechtsgrundlage ist Artikel
    6 Absatz 1 Buchstabe b) DSGVO.</p>

<h4>Erforderliche Cookies </h4>
<p>Damit die Website ordnungsgemäß funktioniert, sind erforderliche Cookies notwendig. Solche Cookies machen eine
    Website nutzbar, indem sie grundlegende Funktionen wie die Seitennavigation und den Zugang zu geschützten Bereichen
    der Website oder Spracheinstellungen bereitstellen. Aufgrund ihrer Bedeutung für das Funktionieren der Website
    kannst du diese Art von Cookies nicht ablehnen. Wir stützen uns bei der damit verbundenen Verarbeitung
    personenbezogener Daten auf Art. 6 Abs. 1 lit. b DSGVO. </p>

<h4>Protokolldaten</h4>
<p>Bei der Nutzung der Website werden bestimmte Daten, einschließlich der vom Browser gesendeten Daten (z.B.
    IP-Adresse, Art der Cookies, vorherige Website, Uhrzeit und Datum, angezeigte Inhalte) vorübergehend gespeichert.
    Wir verwenden diese Daten, um dir die Nutzung unserer Website zu ermöglichen und gegebenenfalls unsere und die
    Rechte Dritter im Falle von Schäden oder Verstößen gegen gesetzliche Vorschriften, unsere Nutzungsbedingungen und
    die Rechte Dritter zu überprüfen und durchzusetzen. Rechtsgrundlage ist Artikel 6 Absatz 1 Buchstabe b) DSGVO. Die
    Protokolldateien werden so lange gespeichert, wie es für den jeweiligen Zweck erforderlich ist, im Allgemeinen nicht
    länger als 14 Tage.</p>

<h3>Datenlöschung</h3>
<p>Wir verarbeiten deine personenbezogenen Daten nur zur Gewinnermittlung am Ende der Challenge. Spätestens am
    31.01.2021 werden alle Daten vollständig gelöscht. Widerrufst du deine Einwilligung oder
    machst du dein Widerspruchsrecht gegen Datenverarbeitungen geltend, so löschen wir die jeweils erhobenen Daten
    zeitnah.</p>

<h3>Deine Rechte</h3>
<p>Du kannst Auskunft über deine gespeicherten Daten verlangen. Hast du personenbezogene Daten aufgrund einer
    Einwilligung bereitgestellt, hast du das Recht diese Daten in einem üblichen und
    maschinenlesbaren Format zu erhalten. Darüber hinaus kannst du in begründeten Fällen auch die
    Löschung, Berichtigung oder Einschränkung der Verarbeitung deiner Daten verlangen.</p>
<p>Eine erteilte Einwilligung kannst du jederzeit mit zukünftiger Wirkung widerrufen.</p>

<h4>Datenschutzbeauftragter</h4>
<p>Deine Anfrage oder Fragen im Zusammenhang mit der Verarbeitung deiner personenbezogenen Daten richte bitte an:
    Boehringer Ingelheim GmbH
    – Datenschutzbeauftragter –
    Binger Straße 173
    D-55216 Ingelheim am Rhein
    E-Mail: datenschutz@boehringer-ingelheim.com
</p>
