{% extends "base.html" %}

{% block title %}Fehler!{% endblock %}

{% block content %}
    <div class="row mb-3 mt-3">
        <h4>Fehler: Doppelte Buchung</h4>
        <p>
            Mit dieser E-Mail Adresse wurde schon ein Termin gebucht.<br> Bitte schauen Sie in Ihrem Postfach nach und
            bestätige Sie Ihren schon gebuchten Termin mit dem Link in der E-Mail. </p>
        <p>
            Wenn Sie einen zweiten Termin für eine andere Person buchen möchten, geben Sie die E-Mail Adresse dieser
            Person an.<br> Sollte keine weitere E-Mail Adresse vorliegen ist eine Buchung über das Online-Portal nicht
            möglich.<br> Bitte vereinbaren Sie in diesem Fall telefonisch einen Termin unter: 06136 2248 </p>
    </div>
{% endblock %}