{% extends "email_template.html" %}
{% block body %}
    <div>
        <h2>Terminanfrage Impfaktion Stadecken-Elsheim</h2>
        <p>Sehr geehrte/r Herr/Frau {{ reservation.name }},</p>
        <p>Bitte klicken Sie auf den unten stehenden Link um Ihren Impftermin
            am {{ reservation.timeslot.start_time | time }} zu bestätigen. <br>
            <a href="{{ url_for("web.confirm", id=reservation.id, _external=True) }}">Impftermin HIER bestätigen</a>
        </p>
        <p>Bitte kommen Sie pünktlich zur genannten Uhrzeit zur <a href="https://goo.gl/maps/7R4QUekYBERtBfot9">Selztalhalle</a>
            um einen reibungslosen Ablauf der Impfungen zu ermöglichen.</p>
        <p>Wenn Sie diesen Termin nicht registriert haben können Sie diese E-Mail einfach ignorieren.</p>
        <p>Ihre Ortsgemeinde Stadecken-Elsheim</p>
    </div>
{% endblock %}