<div id="accordion">
    <div class="card">
        <div class="card-header" id="heading0">
            <h5 class="mb-0">
                <a class="d-flex" data-toggle="collapse" data-target="#collapse0" aria-expanded="true"
                   aria-controls="collapse0">
                    {{ _("What is the time frame of the challenge?") }}
                </a>
            </h5>
        </div>
        <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordion">
            <div class="card-body">
                {{ _("It begins on Dec 1st 2020 and runs until Jan 3rd 2021. You can still sign up after Dec 1st.") }}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading1">
            <h5 class="mb-0">
                <a class="d-flex" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                   aria-controls="collapse1">
                    {{ _("How many colleagues can build a team?") }}
                </a>
            </h5>
        </div>
        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
            <div class="card-body">
                {{ _("We set a limit of 3 – 15 colleagues because of the prices.") }}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading2">
            <h5 class="mb-0">
                <a class="d-flex" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
                   aria-controls="collapse2">
                    {{ _("Can I test the App?") }}
                </a>
            </h5>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
            <div class="card-body">
                {{ _("Yes, you can test the App until 1st Dec. Afterwards all entries will be set back within the teams.") }}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading3">
            <h5 class="mb-0">
                <a class="d-flex" data-toggle="collapse" data-target="#collapse3" aria-expanded="true"
                   aria-controls="collapse3">
                    {{ _("Do I need a fitnesstracker?") }}
                </a>
            </h5>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
            <div class="card-body">
                {{ _("No, we count on your honesty. For sure, it makes life easier to have a fitnesstracker on hand, so you directly know how many kms you run.") }}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <a class="d-flex" data-toggle="collapse" data-target="#collapse4" aria-expanded="true"
                   aria-controls="collapse4">
                    {{ _("Can I be part of several teams?") }}
                </a>
            </h5>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                {{ _("Unfortunately not, as it would be not fair anymore. You can reach out to us, if you want to change the team.") }}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading5">
            <h5 class="mb-0">
                <a class="d-flex" data-toggle="collapse" data-target="#collapse5" aria-expanded="true"
                   aria-controls="collapse5">
                    {{ _("How many entries can I put in per day?") }}
                </a>
            </h5>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
            <div class="card-body">
                {{ _("As many as you want to. Little tip: You can collect your activities over the week and put them in all at once on sundays.") }}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading6">
            <h5 class="mb-0">
                <a class="d-flex" data-toggle="collapse" data-target="#collapse6" aria-expanded="true"
                   aria-controls="collapse6">
                    {{ _("How does the point distribution work?") }}
                </a>
            </h5>
        </div>
        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
            <div class="card-body">
                {{ _("Your points will be divided by the number of team members to ensure a fair competition. Hence, if you run 1 km and get 10 points for your personal score, you will gain 2 points for your team if you are in a group of 5 (10 points / 5 members).") }}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading7">
            <h5 class="mb-0">
                <a class="d-flex" data-toggle="collapse" data-target="#collapse7" aria-expanded="true"
                   aria-controls="collapse7">
                    {{ _("Why are some of the score bars grey?") }}
                </a>
            </h5>
        </div>
        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
            <div class="card-body">
                {{ _("Bars of teams with less than three members will be greyes out cause they don't qualify for the challenge.") }}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading8">
            <h5 class="mb-0">
                <a class="d-flex" data-toggle="collapse" data-target="#collapse8" aria-expanded="true"
                   aria-controls="collapse8">
                    {{ _("Who qualifies for the award session?") }}
                </a>
            </h5>
        </div>
        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
            <div class="card-body">
                {{ _("Every BI Employee on German Sites within teams of 3-15 persons is qualified.") }}
            </div>
        </div>
    </div>


</div>