{% extends "base.html" %}

{% block title %}Reservierung{% endblock %}

{% block content %}
    <h1>Terminbuchung Impfaktion Stadecken-Elsheim</h1>
    <h4>Terminanfrage bestätigt</h4>
    <div>
        <p>Ihre Anfrage für {{ reservation.timeslot.start_time | time }} wurde entgegen genommen.<br>
        Eine E-Mail mit Bestätigungslink wurde an {{ reservation.email }} gesendet.<br>
            Bitte klicken Sie auf den Link in der E-Mail um Ihre Buchung zu bestätigen.</p>
        <p><strong>Achtung: Erst danach wird der Termin für Sie reserviert!</strong></p>
    </div>

    {% if config.DEBUG %}
    <div>
    <h4>DEBUG</h4>
    <a href="{{ url_for("web.confirm", id=reservation.id) }}">Bestätigungslink</a>
    </div>
    {% endif %}
{% endblock %}