{% extends "base.html" %}

{% block title %}X-mas service{% endblock %}

{% block head %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>

    <script>
        tinymce.init({
            selector: 'textarea#body',
            skin: 'bootstrap',
            menubar: false,
            plugins: 'lists, link, image, media',
            toolbar: 'undo redo | styleselect | bold italic underline | blockquote bullist numlist | link image '
        });
    </script>
{% endblock %}

{% block header %}
    <p></p>
    <div class="jumbotron">
        <p>SERVICE</p>
    </div>
{% endblock %}

{% block content %}
    <h2>Users: {{ users|length }}</h2>
    <form method="POST" action="{{ url_for('service.edit_user') }}">
        <div class="form-group">
            <label for="user">Select User</label>
            <select class="form-control" id="user" name="user_id" required>
                <option disabled selected value> -- select user --</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="pseudo">New Pseudo</label>
            <input class="form-control" type="text" id="pseudo" , name="pseudo" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="team">Assign to Team</label>
            <select class="form-control" id="team" name="team">
                <option disabled selected value> -- select team --</option>
                {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" name="action" value="save" class="btn btn-success">Save</button>
            <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
        </div>
    </form>
    <hr>

    <h2>Teams: {{ teams|length }}</h2>
    <form method="POST" action="{{ url_for('service.edit_team') }}">
        <div class="form-group">
            <label for="team2">Select Team</label>
            <select class="form-control" id="team2" name="team" required>
                <option disabled selected value> -- select user --</option>
                {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                {% endfor %}
            </select>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody id="team-members"></tbody>
        </table>
        <div class="form-group">
            <label for="name">New Name</label>
            <input class="form-control" type="text" id="name" name="name" autocomplete="off">
        </div>
        <div class="form-group">
            <button type="submit" name="action" value="save" class="btn btn-success">Save</button>
            <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
        </div>
    </form>
    <hr>

    <h2>Activities: {{ no_activities }}</h2>
    <hr>
    <h2>Mass Email</h2>
    <form method="POST" action="{{ url_for('service.mass_email') }}">
        <div class="form-group">
            <label for="subject">Subject</label>
            <input class="form-control" type="text" id="subject" name="subject" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" type="text" id="body" name="body" autocomplete="off">Message...</textarea>
        </div>
        <div class="form-group">
            <button type="submit" name="action" value="save" class="btn btn-success">Send</button>
        </div>
    </form>

    <script>
        $(document).ready(function () {
            $("#user").change(function load_user() {
                const field = $(this); // this.value
                $.ajax({
                    dataType: 'json',
                    url: 'service/get-user',
                    data: {q: field.val()},
                    type: 'get'
                }).done(function (responseData) {
                    $("#pseudo").val(responseData.pseudo);
                    $("#team").val(responseData.team_id).change()
                }).fail(function () {
                    console.log('Request Failed');
                });
            });
            $("#team2").change(function set() {
                const field = $(this);
                $("#name").val($("#team2 option:selected").text());
                $.ajax({
                    dataType: 'json',
                    url: 'service/get-team-members',
                    data: {q: field.val()},
                    type: 'get'
                }).done(function (res) {
                    console.log(res)
                    let tbl = $("#team-members")
                    tbl.empty()
                    $.each(res, function (k, v) {
                        let tr = $('<tr/>');
                        tr.append("<td>" + v.pseudo + "</td>");
                        tr.append("<td>" + v.email + "</td>");
                        tbl.append(tr);
                    })
                }).fail(function () {
                    console.log('Request Failed');
                });
            })
        });
    </script>
{% endblock %}